@import url("https://fonts.googleapis.com/css2?family=Inika&family=Inter&family=Istok+Web&family=Poppins&display=swap");

.font-poppins {
  font-family: "Poppins", "sans-serif";
}

.ellipse-red {
  width: 145.86681rem;
  height: 88.00194rem;
  border-radius: 145.86681rem;
  position: absolute;
  transform: translate(7%, -70%) rotate(-46.693deg);
  background: radial-gradient(
    50% 50% at 50% 50%,
    #e99595 0%,
    rgba(255, 253, 253, 0) 100%
  );
  filter: blur(2px);
}

.ellipse-green {
  position: absolute;
  width: 131.0625rem;
  height: 72.9375rem;
  transform: rotate(44.042deg) translate(-70%, 6%);
  border-radius: 131.0625rem;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #c6f4e4 0%,
    rgba(255, 253, 253, 0) 100%
  );
  filter: blur(2px);
}

@media only screen and (max-width: 768px) and (min-width: 640px) {
  .ellipse-red {
    transform: translate(-4%, -80%) rotate(-46.693deg);
    border-radius: 100%;
  }
}

